.sign{
    color: yellow;
    background-color: orange;
    width: 300px;
    padding: 5px 95px 5px 5px;
    display: flex;
}

.form{
    color: yellow;
    width: 300px;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 24, 41);
    margin-left: 0%;
}
.h{
    color: yellow;
    width: 300px;
    padding: 10px 50px;
    display: flex;
    justify-content:right;
    background-color: rgb(24, 24, 41);
}
.button{
    color: yellow;
    background-color: orange;
    width: 390px;
    padding: 5px;
    display: flex;
    justify-content: right;
}
.button1{
    color: rgba(255, 255, 255, 0.8);
    background-color: green;
    padding: 5px 15px;
    border-color: orange;
}
.button2{
    color: rgba(255, 255, 255, 0.8);
    background-color: red;
    padding: 5px 15px;
    border-color: orange;
}
.g{
    width: 40%;
    display: flex;
    justify-content:flex-end;
    text-align:justify;
  
}