.box{
color:rgb(187, 235, 13);
background-color: black;
height: 508px;
width: 450px;
border:5px green solid;
 margin: 110px 100px; 
padding-right: 10px;
padding-left: 10px; 
border-radius: 15px;
  }
label{
    padding: 12px;
    text-align:left;
width: 300px;
  
}
.fn,.ln,.em,.ps,.cps,.gn,.cn,.dob{
    /* width: 100%; */
        display: flex;
        justify-content: space-between;
        align-items:baseline;
}
h3{
    color:yellow ;
    background-color: brown;
    height:30px;
    width:450px;

}
.tm{
    text-align: right;
    padding-bottom: 20px;

}
.la{
    
    text-align: right;
    background-color: rgb(215, 198, 4);
    height: 50px;
    padding: 5px;
}
.b1{
    background-color: green;
    padding: 5px 15px;
    color: white;
    border-color: yellowgreen;
}
.b2{
    background-color: red;
    padding: 5px 15px;
    color: white;
   border-color: yellowgreen;
}
  
